<template name="chat_template">
  {{>navbar}}
  {{>sidebarBoot}}
  <div class="main-content">
  <div class="container-fluid text-center pad-2em">
    <div class="row content">
      <div class="col-sm-9 text-left">
  {{>allMessages}}
      </div>
      <div class="col-sm-3 sidenav">
        <div class="panel panel-default">
          <div class="panel-heading">Requirements</div>
          <div class="panel-body">

            <ul class="list-group">
                    {{#each req}}
                    <li class="list-group-item" id="room">
                        <a href="{{pathFor route='chat_template'}}">
                              {{#if newmsgs}}

                                                      <span class="notifications" style="float:left;">{{newmsgs}}</span>
                                                {{/if}}

                              {{#if compR}}
                                                      <span style="color:#33c433" class="glyphicon glyphicon-check"></span>
                                                {{/if}}
                              {{roomName}}
                        </a>
                    </li>
                    {{/each}}
                  </ul>
<a href="{{pathFor route='projectProfile'}}"><button id="modalBtn" class ="btn btn-primary" data-modal-template="editUserModal">Project Profile</button>
</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<!--  <template name="singleMessage" style="chat.css">

    <li>
      <div class="userpicture">
        <img id="avatar" src="">
      </div>
      <div class="message-header">
        <span>{{user.username}}</span>
        <span>{{timestampFixed}}</span>
      </div>
      <div class="message-content">
        {{message}}
      </div>
    </li>
</template>-->

<template name="chatForm">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="input-group">

          <form id="sendmsgFrm">
            <div class="row col-md-7 sendmsgbtn">
           <span class="input-group-btn">
             <input type="text" name="text" id="messagetext" class="form-control" placeholder="Type Message Here...">
             <input class ="btn btn-primary" id="msgsubmit" type="submit" value="Send">
             </span>
           </div>


            <div class="row col-md-2 votebtn" style="float:right;">
             <span class="input-group-btn" >
             <input id="voteInput" type="text"  class="form-control" placeholder="Vote here">
             <button id="vote" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span></button>

        <!--     <button class="btn btn-primary" id="msgsubmit" type="button">Send</button> -->
           </span>

         </div>
         <label style="margin-left:1.5em;margin-top:1em;color:#74747b;">Required Score: {{reqScore}}</label>
         {{#if comp}}
               <span style="color:#33c433" class="glyphicon glyphicon-check"></span>
                {{/if}}
         <ul class="list-group">
                 {{#each votes}}
                 <li style="margin-left: 1.5em;color: #74747b;list-style-type: none;">{{this.profile.fisrtName}} {{this.profile.lastName}}: {{this.vote}}</li>
                 {{/each}}
               </ul>

         </form>
         </div><!-- /input-group -->

         <div class="form-group">
              <div class="col-sm-12">
                <textarea class="form-control" style="height: 60px" type="text" name="requirementDescrpition" value={{reqDesc}} placeholder="Descrpition" id="editReqDescrpitionInChat" required="required"></textarea>
                <button id="saveDescChangesChat" class ="saveDescChangesChat btn btn-primary pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Save changes</button>
             </div>
           </div>

      </div>
    </div>
</template>

<template name="allMessages" style="chat.css">
    <div class="panel panel-default chat" id="panel panel-default chat">
      {{#if compR}}
        <div class="panel-heading"><b>Chat - {{project.projectname}} - {{room}} </b><span style="color:#33c433;font-size: 18px;" class="glyphicon glyphicon-check"></span></div>
        {{else}}
        <div class="panel-heading"><b>Chat - {{project.projectname}} - {{room}}</b></div>
        {{/if}}

      <div class="panel-body">
        <!-- Left-aligned -->
        {{#each messages}}

          <div class="media">
            <div class="media-left">


                <img src="{{imgURL}}" name="aboutme" width="55" height="55" class="img-circle">            </div>
            <div class="media-body">
              <h4 style="font-size: 17px;" class="media-heading">
                {{#if color}}
                <svg height="12" width="12">
                      <circle cx="5" cy="5" r="4" fill="#33c433" />
                    </svg>
                {{/if}}
                            {{this.user.profile.fisrtName}} {{this.user.profile.lastName}}

                            {{#if badges}}
                                {{#if c1}}
                                    <img src="goldBadge_1.gif" width="35" height="32">
                                      {{/if}}

                                      {{#if c2}}
                                      <img src="goldBadge_2.gif" width="35" height="32">
                                            {{/if}}

                                            {{#if c3}}
                                            <img src="goldBadge_3.gif" width="35" height="32">
                                                  {{/if}}

                                                  {{#if c4}}
                                                  <img src="goldBadge_4.gif" width="35" height="32">
                                                        {{/if}}
                                   {{/if}}
</h4>
              <small>{{timestampFixed}}</small>
              <p>{{message}}</p>
            </div>
          </div>
          {{/each}}
      </div>
    </div>
    {{>chatForm}}
</template>
