<template name="generalManagement">
		{{#if currentUser}}
				{{#if isIOS}}
							<div class="main-content" style="margin-left:0px;margin-top:45px;">
				  <div class="container-fluid text-center">
						<div class="row content">
						  <div class="col-md-12 text-left">
							  {{>navbarMobile}}
							<div class="panel panel-default chat">
							  <div class="panel-heading">General Settings</div>
							  <div class="panel-body">
								{{>generalMngMobile}}
								{{>editGenModal}}
								{{>editGenVarModal}}
							  </div>
							</div>
						  </div>
						</div>
						{{>footerMobile}}
					  </div>
					  </div>
				{{else if isAndroid}}
							<div class="main-content" style="margin-left:0px;margin-top:45px;">
				  <div class="container-fluid text-center">
						<div class="row content">
						  <div class="col-md-12 text-left">
							  {{>navbarMobile}}
							<div class="panel panel-default chat">
							  <div class="panel-heading">General Settings</div>
							  <div class="panel-body">
								{{>generalMngMobile}}
								{{>editGenModal}}
								{{>editGenVarModal}}
							  </div>
							</div>
						  </div>
						</div>
						{{>footerMobile}}
					  </div>
					  </div>
				{{else}}
					  {{>navbar}}
					  {{>sidebarBoot}}
					  <div class="main-content">
					  <div class="container-fluid text-center pad-2em">
						<div class="row content">
						  <div class="col-md-12 text-left">
							<div class="panel panel-default chat">
							  <div class="panel-heading">General Settings</div>
							  <div class="panel-body">
								{{>generalMng}}
								{{>editGenModal}}
								{{>editGenVarModal}}
							  </div>
							</div>
						  </div>
						</div>
					  </div>
					  </div>
						{{/if}}
								  {{else}}
				  {{>loginModal}}
  {{/if}}
</template>

<template name="generalMngMobile">
          {{#if isInRole 'admin'}}

        <table class="table table-striped custab" style="font-size: 21px;">

           <thead>
               <tr>
                 <th>Attribute</th>
                 <th>Score</th>
               </tr>
           </thead>
           {{#each all}}
            <tbody>
                     <tr>
                       <td>{{name}}</td>
                       {{#if score}}
                       <td>{{score}}</td>
                       {{else}}
                       <td>Disabled</td>
                       {{/if}}

                       <td><button id="open_edit{{_id}}Modal" class ="open_edit{{Name}}Modal btn btn-default pull-right"><span class="glyphicon glyphicon-edit" style="font-size:22px;"></span></button></td>
                 </tr>
               </tbody>
          {{/each}}
        </table>
          {{else}}
                 <p>Not</p>
                 {{/if}}
         </template>
		 
		 <template name="generalMng">
          {{#if isInRole 'admin'}}

        <table class="table table-striped custab" style="font-size: 16px;">

           <thead>
               <tr>
                 <th>Attribute</th>
                 <th>Score</th>
               </tr>
           </thead>
           {{#each all}}
            <tbody>
                     <tr>
                       <td>{{name}}</td>
                       {{#if score}}
                       <td>{{score}}</td>
                       {{else}}
                       <td>Disabled</td>
                       {{/if}}

                       <td><button id="open_edit{{_id}}Modal" class ="open_edit{{Name}}Modal btn btn-default pull-right"><span class="glyphicon glyphicon-edit"></span></button></td>
                 </tr>
               </tbody>
          {{/each}}
        </table>
          {{else}}
                 <p>Not</p>
                 {{/if}}
         </template>
		 


<!--modal for updating score of levels, score for completion-->

         <template name="editGenModal">
           <div class="modal fade in" id="editGenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                   <div class="panel panel-default">
                     <div class="panel-heading"><h4>Settings</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
                     <div class="panel-body">
                       <form id="addProjectFrm" class="form-horizontal">
                         <div class="form-group">
                            <label for="contain" class="col-sm-6 control-label">{{genVar}}</label>
                       </div>
                       <div class="form-group">
                          <label for="scoreGen" class="col-sm-3 control-label">score</label>
                            <div class="col-sm-9">
                              <input class="form-control" type="text" name="" placeholder="" value="" id="scNew" required="required">
                           </div>
                         </div>
                         <button id="saveGen" class ="saveGen btn btn-default pull-right"><span class="  glyphicon glyphicon-floppy-disk"></span> Save</button>
                       </form>
                 </div>
               </div>
             </div>
           </div>
         </template>

   <!--//modal for enabing/disablin gamification elemet-->
         <template name="editGenVarModal">
           <div class="modal fade in" id="editGenVarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
                   <div class="panel panel-default">
                     <div class="panel-heading"><h4>Settings</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
                     <div class="panel-body">
                       <form id="addProjectFrm" class="form-horizontal">
                         <div class="form-group">
                            <label for="contain" class="col-sm-3 control-label">{{genVar}}</label>
                       </div>
                       <div class="form-group">
                            <div class="col-sm-9">
                              <h5 color="blue">Current status: "{{status}}"</h5>
                              <select id="dis_en">
                                <option disabled="disabled" selected="selected">Change</option>
                                      <option value="{{this}}">Disable</option>
                                      <option value="{{this}}">Enable</option>
                                    </select>

                          </div>
                         </div>
                         <button id="saveVarGen" class ="saveGen btn btn-default pull-right"><span class="  glyphicon glyphicon-floppy-disk"></span></button>
                       </form>
                 </div>
               </div>
             </div>
           </div>
         </template>
