<template name="leadershipboard">
  {{>navbar}}
  {{>sidebarBoot}}
  <div class="main-content">
  <div class="container-fluid text-center pad-2em">
    <div class="row content">
      <div class="col-md-12 text-left">
        <div class="panel panel-default chat">
          <div class="panel-heading">Leadership Board</div>
          <div class="panel-body">
            {{>leadershipboardTemp}}
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>


<template name="leadershipboardTemp">
        <table class="table table-striped custab" id="leaderTbl" style="counter-reset:rownumber;">

           <thead>
               <tr>
                 <th>No</th>

                 <th>Last Name</th>
                 <th>First Name</th>
                 <th>Score</th>
               </tr>
           </thead>
           {{#each users}}
            <tbody>
              <tr style="counter-increment:rownumber;">
                <td></td>

                       <td>{{profile.lastName}}</td>
                       <td>{{profile.fisrtName}}</td>
                       <td>{{profile.score}}</td>

                 </tr>
               </tbody>
          {{/each}}
        </table>
         </template>
