<template name='ProfileTemplate'>
  {{>navbar}}
    {{>sidebarBoot}}
  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-md-3 sidenav">

     </div>
      <div class="col-md-4 text-left">
        {{>profileModal}}
      </div>
    </div>
  </div>
</template>


<template name="profileModal">
  <div class="container-fluid">
    <div class="row">
  		<div class="col-md-4 user-details">
      <div class="span3 well">
          <center>

            <img src="{{currentUser.profile.avatar}}" name="aboutme" width="140" height="140" class="img-circle">
            <span class="btn btn-success btn-file">
            Change your avatar
          <input type="file" accept=".gif,.jpg,.png" class="myFileInput" id="avatar">
        </span>
          <h3><b>{{u.profile.fisrtName}} {{u.profile.lastName}}</b></h3>
          <h5><b>Score: {{u.profile.score}}</b></h5>
          <h5><b>Level: {{currentUser.profile.level}}</b></h5>


          <h5><b>Email:</b> {{userEmail}}</h5>
          <span><strong>Projects: </strong></span>
          {{#each project}}
                    <span class="label label-info" style="background-color: #2196F3;    font-size: 14px;">{{this.project.projectname}}</span>
          {{/each}}

  		</center>
      </div>
    </div>
  </div>
  </div>
<style media="screen">
.col-md-4 {
    width: 75%;
}
</style>
</template>
