<template name="projectProfile">
  {{#if currentUser}}
  {{#if isIOS}}
							<div class="main-content" style="margin-left:0px;margin-top:45px;">
								  <div class="container-fluid text-center">
			  {{>navbarMobile}}
				<div class="row content">
				  <div class="col-sm-9 text-left">
					{{>projectInfo}}
					{{>addProjectReqModal}}
					{{>removeReqModal}}
					{{>editReqModal}}
					{{>editProjectModal}}

						  {{#if isInRole 'admin'}}
							{{>projectEditUserModal}}
						  {{/if}}
						  							{{>editProject}}

				  </div>
				  <div class="col-sm-3 sidenav">
					<div class="panel panel-default">
					  <div class="panel-heading"><b>Requirements</b></div>
					  <div class="panel-body">
						<ul class="list-group">
								  {{#each req}}
								  <li class="list-group-item" id="room">
									  <a href="{{pathFor route='chat_template'}}">
											{{#if newmsgs}}
																	<span class="notifications" style="float:left;">{{newmsgs}}</span>
															  {{/if}}

											{{#if compR}}
																	<span style="color:#33c433" class="glyphicon glyphicon-check"></span>
															  {{/if}}
											{{roomName}}
									  </a>
								  </li>
								  {{/each}}
							  </ul>
					  </div>
					</div>
				  </div>
				</div>
								{{>footerMobile}}
			  </div>
			  </div>
			  {{else if isAndroid}}
							<div class="main-content" style="margin-left:0px;margin-top:45px;">
								  <div class="container-fluid text-center">
			  {{>navbarMobile}}
				<div class="row content">
				  <div class="col-sm-9 text-left">
					{{>projectInfo}}
					{{>addProjectReqModal}}
					{{>removeReqModal}}
					{{>editReqModal}}
					{{>editProjectModal}}

						  {{#if isInRole 'admin'}}
							{{>projectEditUserModal}}
						  {{/if}}
						  							{{>editProject}}

				  </div>
				  <div class="col-sm-3 sidenav">
					<div class="panel panel-default">
					  <div class="panel-heading"><b>Requirements</b></div>
					  <div class="panel-body">
						<ul class="list-group">
								  {{#each req}}
								  <li class="list-group-item" id="room">
									  <a href="{{pathFor route='chat_template'}}">
											{{#if newmsgs}}
																	<span class="notifications" style="float:left;">{{newmsgs}}</span>
															  {{/if}}

											{{#if compR}}
																	<span style="color:#33c433" class="glyphicon glyphicon-check"></span>
															  {{/if}}
											{{roomName}}
									  </a>
								  </li>
								  {{/each}}
							  </ul>
					  </div>
					</div>
				  </div>
				</div>
								{{>footerMobile}}
			  </div>
			  </div>
	  {{else}}
			  {{>navbar}}
			  {{>sidebarBoot}}
			  <div class="main-content">
			  <div class="container-fluid text-center pad-2em">
				<div class="row content">
				  <div class="col-sm-9 text-left">
					{{>projectInfo}}
					{{>addProjectReqModal}}
					{{>removeReqModal}}
					{{>editReqModal}}
					{{>editProjectModal}}

						  {{#if isInRole 'admin'}}
							{{>projectEditUserModal}}
						  {{/if}}
						  							{{>editProject}}

				  </div>
				  <div class="col-sm-3 sidenav">
					<div class="panel panel-default">
					  <div class="panel-heading"><b>Requirements</b></div>
					  <div class="panel-body">
						<ul class="list-group">
								  {{#each req}}
								  <li class="list-group-item" id="room">
									  <a href="{{pathFor route='chat_template'}}">
											{{#if newmsgs}}
																	<span class="notifications" style="float:left;">{{newmsgs}}</span>
															  {{/if}}

											{{#if compR}}
																	<span style="color:#33c433" class="glyphicon glyphicon-check"></span>
															  {{/if}}
											{{roomName}}
									  </a>
								  </li>
								  {{/each}}
							  </ul>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  </div>
			  {{/if}}
  {{else}}
  {{>loginModal}}
  {{/if}}
</template>


<template name="editProject">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="input-group" style="JUSTIFY-CONTENT: CENTER;DISPLAY: FLEX;">
          {{>showSumBtn}}
         </div><!-- /input-group -->

      </div>
    </div>
</template>


<template name="projectInfo" style="chat.css">
    <div class="panel panel-defaultt">
      <div class="panel-group">
         <div class="panel panel-default">

             <div class="panel-heading"><b>{{project.projectname}}</b>{{#if isInRole 'admin'}}{{>editProjectBtn}}{{/if}}</div>
           <div class="panel-body">{{project.descrpition}}
           </div>
         </div>
         <div class="panel panel-default">
           <div class="panel-heading"><b>Users</b>{{#if isInRole 'admin'}}{{>projectEditUserButton}}{{/if}}</div>
<div class="Row">
           {{#each projectUsers}}
           <div class="Column">
             <img src={{imgURL}}  width="83" height="83" class="img-circle">
                 <h4>{{fname}} {{lname}}</h4>

            {{#if badges}}
                {{#if c1}}
                    <img src="goldBadge_1.gif" width="40" height="37">
                      {{/if}}

                      {{#if c2}}
                      <img src="goldBadge_2.gif" width="40" height="37">
                            {{/if}}

                            {{#if c3}}
                            <img src="goldBadge_3.gif" width="40" height="37">
                                  {{/if}}

                                  {{#if c4}}
                                  <img src="goldBadge_4.gif" width="40" height="37">
                                        {{/if}}
                   {{/if}}

             {{#if levels}}
                 <p class="pp"><b style="color:#4080b9;font-size:14px;">{{level}}</b></p>
                 <h5 class="pp">Score: {{score}}</h5>
               {{/if}}

                 <p class="pp">{{this.role}}</p>

               </div>
           {{/each}}
         </div>
       </div>


         <div class="panel panel-default">
           <div class="panel-heading"><b>Requirements {{>addProjectReqBtn}}</b></div>

           <div class="row">
                            <div class="col-md-12">
                           <!-- Nav tabs --><div class="card">
                           <ul class="nav nav-tabs" role="tablist">
                               <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><b>Functional</b></a></li>
                               <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><b>Non Functional</b></a></li>
                           </ul>
                           <!-- Tab panes -->
                           <div class="tab-content" style="overflow-y:auto;">
                               <div role="tabpanel" class="tab-pane active" id="home">
                                 {{#each reqFun}}
                         <li class="list-group-item" id="room" style="background-color: #dfe3e542;padding: 5px 17px;"><a href="{{pathFor route='chat_template'}}"><label style="font-size: 15px">{{roomName}} </label><label style="padding-left: 17px;  font-size: 12px;  font-weight: normal;">  Created by {{this.creator.profile.lastName}} {{this.creator.profile.fisrtName}}</label></a>
                           {{>rmvReqBtn}}    {{>editReqModalBtn}}
</li>
                            <li class="list-group-item">
																{{#each votes}}
																	<li style="color: #74747b;display: inline;">{{this.profile.fisrtName}} {{this.profile.lastName}}: {{this.vote}} &emsp;</li>
																	{{/each}}
														{{>statusRow}} 
                                                 <p style = "font-size:13px;">{{descrpition}}</p>
							</li>
                   {{/each}} </div>
                                                   <div role="tabpanel" class="tab-pane" id="profile">
                                                     {{#each reqNonFun}}
                                                    <li class="list-group-item" id="room" style="background-color: #dfe3e542;padding: 5px 17px;"><a href="{{pathFor route='chat_template'}}"><label style="font-size: 15px">{{roomName}} - {{cat}} </label><label style="padding-left: 17px; font-size: 12px; font-weight: normal;">  Created by {{this.creator.profile.lastName}} {{this.creator.profile.fisrtName}}</label></a>
                                                {{>rmvReqBtn}}  {{>editReqModalBtn}}
                                                  </li>
                                                  <li class="list-group-item">
																{{#each votes}}
																	<li style="color: #74747b;display: inline;">{{this.profile.fisrtName}} {{this.profile.lastName}}: {{this.vote}} &emsp;</li>
																	{{/each}}
														{{>statusRow}} 
                                                 <p style = "font-size:13px;">{{descrpition}}</p>
												  </li>
                                                    {{/each}}                                                   </div>
                                               </div>
           </div>
                                           </div>
           	</div>
         </div>
       </div>
      </div>
    </template>

      <template name="addProjectReqBtn">
      <button id="addProjectReqBtn" class ="addProjectReqBtn btn btn-default pull-right"><span class="fa fa-plus"></span></button>
       <!--<input type="button" class="open-modal1" value="Add" />-->
      </template>


      <template name="projectEditUserButton">
      <button id="open-modal1" class ="open-modal1 btn btn-default pull-right"><span class="fa fa-plus"></span></button>
       <!--<input type="button" class="open-modal1" value="Add" />-->
      </template>

      <template name="editProjectBtn">
      <button id="open-editProjectBtn" class ="editProjectBtn btn btn-default pull-right" ><span class="glyphicon glyphicon-edit"></span></button>
       <!--<input type="button" class="open-modal1" value="Add" />-->
      </template>


      <template name="rmvReqBtn">
      <button id="open-rmvReqBtn" class ="open-rmvReqBtn btn btn-default pull-right"><span class="glyphicon glyphicon-remove-sign"></span></button>
       <!--<input type="button" class="open-modal1" value="Add" />-->
      </template>

    <!--  <template name="projectImageItem">
        <button id="open-modal" class ="open-modal btn btn-default pull-right"><span class="fa fa-plus"></span> Add Project</button>
      </template>-->

      <template name="showSumBtn">
      <a href="{{pathFor route='summary'}}"><button id="open_showSumBtn" class ="open-showSumBtn btn btn-primary pull-right" style="width:250px !important;height: 120%;"><span class="fa fa-list-ol"></span> Summary</button></a>
       <!--<input type="button" class="open-modal" value="Show modal." />-->
      </template>

<template name="editReqModalBtn">
  <button id="open-editReqModal" class ="open-editReqModal btn btn-default pull-right"><span class="glyphicon glyphicon-edit"></span></button>
 <!--<input type="button" class="open-modal" value="Show modal." />-->
</template>
