<template name= "sidebarBoot" style="/main.css">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
  <!--   <div class="absolute-wrapper"> </div> -->
    <!-- Menu -->
  <div class="side-menu" style="background: #393836;">
    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="brand-wrapper">
                                <!-- Hamburger -->
                                <button type="button" class="navbar-toggle">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <!-- Search -->
                              <!--     <a data-toggle="collapse" href="#search" class="btn btn-default" id="search-trigger">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>-->
                                <!-- Search body -->
                            <!--       <div id="search" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class="navbar-form" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-default "><span class="glyphicon glyphicon-ok"></span></button>
                                        </form>
                                    </div>
                                </div>    -->
                            </div>
                        </div>
              <!-- Main Menu -->
              <div class="side-menu-container">
                  <ul class="nav navbar-nav">
                    <div class="sidenav-header d-flex align-items-center justify-content-center">
                      <div class="sidenav-header-inner text-center">
                        <a href="{{pathFor route='Profile'}}">
                          <img src="{{currentUser.profile.avatar}}" name="aboutme" width="140" height="140" class="img-circle imgSideBar"></a>
                          <br>
                              {{#if badges}}
                              {{#if c1}}
                                  <img src="goldBadge_1.gif" width="43" height="40">
                                    {{/if}}

                                    {{#if c2}}
                                    <img src="goldBadge_2.gif" width="43" height="40">
                                          {{/if}}

                                          {{#if c3}}
                                          <img src="goldBadge_3.gif" width="43" height="40">
                                                {{/if}}

                                                {{#if c4}}
                                                <img src="goldBadge_4.gif" width="43" height="40">
                                                      {{/if}}                                    {{/if}}
                                            <h2 class="h5 text-uppercase" ><a style="color:white;" href="{{pathFor route='Profile'}}"> <b>{{currentUser.profile.fisrtName}} {{currentUser.profile.lastName}}</b></a></h2>

                                  {{#if levels}}
                                              <h2 class="h5 text-uppercase" style="color: #f9d33f;"><b>{{currentUser.profile.level}}</b></h2>
                                          {{/if}}
                      </div>
                    </div>

                      <!-- Dropdown Management-->
                {{#if isInRole 'admin'}}
                      <li class="panel panel-default" id="dropdown" style="background: #393836;">
                          <a data-toggle="collapse" href="#dropdown-lvl1-Mng" style="color:white;">
                              <span class="glyphicon glyphicon-user"></span> Management <span class="caret"></span>
                          </a>
                          <!-- Dropdown level 1 -->
                          <div id="dropdown-lvl1-Mng" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <ul class="nav navbar-nav">
                                    <li class="active"><a href="{{pathFor route='usersManagement'}}" style="color:white;"><span class="glyphicon glyphicon-user"></span>User Management</a></li>
                                    <li class="active"><a href="{{pathFor route='projsManagement'}}" style="color:white;"><span class="glyphicon glyphicon-cog"></span>Projects Management</a></li>
                                    <li class="active"><a href="{{pathFor route='generalManagement'}}" style="color:white;"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>

                                  </ul>
                              </div>
                          </div>
                      </li>
                {{/if}}
                      <!-- Dropdown Projects-->
                      <li class="panel panel-default" id="dropdown" style="background: #393836;">
                          <a data-toggle="collapse" href="#dropdown-lvl1-Pro" style="color:white;">
                              <span class="glyphicon glyphicon-briefcase"></span> Projects <span class="caret"></span></a>
                          <!-- Dropdown level 1 -->
                          <div id="dropdown-lvl1-Pro" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <ul class="nav navbar-nav">
{{#if ifProjects}}
                                      {{#each project}}
                                        {{#if act}}
                                        <li class="active" id="project">
                                                <a href="{{pathFor route='projectProfile'}}" style="color:white;">
                                                    <span class="	glyphicon glyphicon-paperclip"></span> {{this.projectname}} <span></span></a>
                                          </li>
                                          {{/if}}
                                        {{/each}}
                                {{else}}
                                        <li class="active" id="project">
                                                <a href="" style="color:white;">
                                                    <span class="	glyphicon glyphicon-paperclip"></span>No Projects<span></span></a>
                                          </li>
{{/if}}
                                      {{#if  isInRole 'admin'}}
                                            {{>projectImageItem}}

                                        {{/if}}

                                  </ul>
                              </div>
                          </div>
                        </li>

                      {{#if ledrBrd}}

                      <li class="panel panel-default" id="dropdown" style="background: #393836;"><a href="{{pathFor route='leadershipboard'}}" style="color:white;"><span class="glyphicon glyphicon-king" style="color: #f3cf3e;"></span>Leadership Board</a></li>
                      <li class="panel panel-default" id="dropdown" style="background: #393836;"></li>

                      {{/if}}
              <!--        <li style="background: #393836; border: none;"><a href="#" style="color:white;"><span class="glyphicon glyphicon-envelope"></span> Chats </a></li> -->
                  </ul>
              </div><!-- /.navbar-collapse -->
      </nav>
    </div>
    {{>addProjectModal}}
</template>

<template name="projectImageItem">
                                <li class="active " id="open-modal" >
                                        <a href="{{pathFor route='projectProfile'}}" style="color:white;">
                                            <span class="fa fa-plus"></span>  Create new project<span></span></a>
                                  </li>
      </template>
