<template name="summary">
  {{>navbar}}
  {{>sidebarBoot}}
  <div class="main-content">
  <div class="container-fluid text-center pad-2em">
    <div class="row content">
      <div class="col-md-12 text-left">
        <div class="panel panel-default chat">
          <div class="panel-heading">Summary</div>
          {{>prgSum}}
        </div>
      </div>
    </div>
  </div>
  </div>
</template>

<template name="prgSum">
  <div class="panel-body">
    <div class="container">
      <div class="panel">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">Welcome</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                <small><em>2014-07-30<br>18:30:00</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in.
            </div>

            <div class="panel-footer">
                <span class="label label-default">Welcome</span> <span class="label label-default">Updates</span> <span class="label label-default">July</span>
            </div>
        </div>
      </div>

    <h4>Project name: </h4> {{p.projectname}}

    <h4>Description: </h4> {{p.descrpition}}
    <h4>Requirements </h4>
    <u><h5 style="margin-left:3em"> Functional </h5></u>
    {{#each reqsCF}}
          <ul style="margin-left:3em;list-style-type:none;    background-color: #f5f5f5;" class="list-group-item">
              <li><b>Requirement name:</b> {{roomName}}                      </li>
              <li><b>Description: </b> {{descrpition}}                      </li>
          </ul>
    {{/each}}

    <u><h5 style="margin-left:3em"> Non Functional </h5></u>
    {{#each reqsCNF}}
            <ul style="margin-left:3em;list-style-type:none;    background-color: #f5f5f5;" class="list-group-item">
              <li><b>Requirement name:</b> {{roomName}}                      </li>
              <li><b>Description:</b><span> {{descrpition}}</span>                      </li>
              <li><b>Category:</b> {{cat}}                      </li>

          </ul>
    {{/each}}
  </div>
</template>
