<template name="usersManagement">
  {{>navbar}}
  {{>sidebarBoot}}
  <div class="main-content">
  <div class="container-fluid text-center pad-2em">
    <div class="row content">
      <div class="col-md-12 text-left">
        <div class="panel panel-default chat">
          <div class="panel-heading">User Managment</div>
          <div class="panel-body">
            {{>usersManagementTemp}}
            <!--{{>createUser}}-->

            {{>addUserModal}}
            {{>editUserModal}}
            {{>resetAllScoreConfirmationModal}}

          </div>
          {{>addUser_btn}}
          {{>resetAllScore_btn}}
        </div>
      </div>
    </div>
  </div>
  </div>
</template>


<template name="usersManagementTemp">
          {{#if isInRole 'admin'}}

        <table class="table table-striped custab">

           <thead>
             <tr>
               <th>Last Name</th>
               <th>First Name</th>

               <th>Username</th>
               <th>Email</th>
               <th>Score</th>
               <th>Admin</th>

             </tr>
         </thead>
         {{#each users}}
          <tbody id="usrsTbl">
                   <tr>
                     <td>{{profile.lastName}}</td>
                     <td>{{profile.fisrtName}}</td>
                     <td>{{username}}</td>
                     <td>{{userEmail}}</td>
                     <td>{{profile.score}}</td>
                     <th>{{admin}}</th>

                       <td>{{>editUser_Btn}}</td>
                      <!-- <td>{{>infoUser_btn}}</td> -->
                       <td>{{>removeUser_Btn}}</td>
                 </tr>
               </tbody>
          {{/each}}
        </table>

          {{else}}
                 <h3>Sorry friend, you a have no permission</h3>
                 {{/if}}
         </template>
         <template name="addUser_btn">
         <button id="addUser_btn" class ="addUser_btn btn btn-primary pull-left" style="width: 80px;font-size:12px;color: #242323;background-color: #e0e0e0;border-color: #978a8a;"><span class="fa fa-user-plus"></span></button>
          <!--<input type="button" class="open-modal" value="Show modal." />-->
         </template>

         <template name="resetAllScore_btn">
         <button id="resetAllScore_btn" class ="resetAllScore_btn btn btn-primary pull-left" style="font-size:12px;color: #242323;background-color: #e0e0e0;border-color: #978a8a;">Reset Score to All </button>
          <!--<input type="button" class="open-modal" value="Show modal." />-->
         </template>

       <template name="infoUser_btn">
       <button id="infoUser_btn" class ="infoUser_btn btn btn-primary pull-left" style="font-size:12px;color: #242323;background-color: #e0e0e0;border-color: #978a8a;"><span class="fa fa-info"></span></button>
        <!--<input type="button" class="open-modal" value="Show modal." />-->
       </template>

         <template name="editUser_Btn">
         <button id="editUser_Btn" class ="editUser_Btn btn btn-primary pull-left" style="font-size:12px;color: #242323;background-color: #e0e0e0;border-color: #978a8a;"><span class="fa fa-edit"></span></button>
          <!--<input type="button" class="open-modal" value="Show modal." />-->
         </template>
         <template name="removeUser_Btn">
         <button id="removeUser_Btn" class ="removeUser_Btn btn btn-primary pull-left" style="font-size:15px;color: #242323;background-color: #e0e0e0;border-color: #978a8a;"><span class="glyphicon glyphicon-remove-sign"></span></button>
          <!--<input type="button" class="open-modal" value="Show modal." />-->
         </template>


         <template name="resetAllScoreConfirmationModal">
           <div class="modal fade in" id="resetAllScoreConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
             <div class="modal-dialog">
               <div class="panel panel-default">
                 <div class="panel-heading"><h4>Reset all Scores</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
                 <div style="height: 10vh;padding: 12px;">

                      <h4>Are you sure?</h4>

                 </div>
                 <div class="modal-footer">
                   <button id="confirmResetBtn" class ="confirmResetBtn btn btn-default pull-right">Yes</button>
                 </div>
               </div>
             </div>
           </div>
         </template>
