<template name="editReqModal">
  <div class="modal fade in" id="editReqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>New requirement</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
            <div class="panel-body">

              <form id="addProjectFrm" class="form-horizontal">
                <div class="form-group">
                   <label for="contain" class="col-sm-3 control-label">Requirement name</label>
                     <div class="col-sm-9">
                    <input class="form-control" type="text" name="requirementname" placeholder="Requirement name" value={{reqName}} id="editReqname" required="required">
                    </div>
              </div>
              <div class="form-group">
                 <label for="contain" class="col-sm-3 control-label">Descrpition</label>
                   <div class="col-sm-9">
                     <textarea class="form-control" style="height: 60px" type="text" name="requirementDescrpition" value={{reqDesc}} placeholder="Descrpition" id="editReqDescrpition" required="required"></textarea>
                  </div>
                </div>
                <div class="form-group">
                   <label for="contain" class="col-sm-3 control-label">Required score</label>
                     <div class="col-sm-9">
                       <input class="form-control"  type="number" name="reqscore" min="0" max="100" placeholder="Required score" value={{reqScore}} id="editReqScore" required="required"><br><br>
                    </div>
                  </div>
                  <div class="form-group">
                     <label for="contain" class="col-sm-3 control-label">Functional</label>
                       <div class="col-sm-6">
                         <div class="col-sm-3">
                         <input type="checkbox" checked={{isFunc}} id="editIsFunc"><br>
                       </div>
                      </div>

                    </div>
                    {{#unless isFunc}}
                    <div class="form-group">
                       <label for="contain" class="col-sm-3 control-label">Category</label>
                         <div class="col-sm-9">
                           <select id="catSelect">
                             <option disabled="disabled" selected="selected">Select Category</option>
                             {{#each category}}
                                   <option value="{{this}}">{{this}}</option>
                                   {{/each}}

                           </select>
                           <span style="display: inline-flex;"><br><p>You can add a new category here:</p>
                             <input class="form-control newCat" style="width: 40%;height: 20px;" name="newCat" placeholder="Category name" id="newCat">
                             <button id="addCtgBtn">Add</button>

          </span>

                        </div>

                      </div>
                      {{/unless}}

                <button id="editReqBtn" class ="editReqBtn btn btn-default pull-right"><span class="  glyphicon glyphicon-floppy-disk"></span></button>
              </form>

        </div>
      </div>
    </div>
  </div>
</template>
