<template name="editProjectModal">
  <div class="modal fade in" id="editProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Edit</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>
            <div class="panel-body">

              <form id="editProjectFrm" class="form-horizontal">
                <div class="form-group">
                   <label for="contain" class="col-sm-3 control-label">Project name</label>
                     <div class="col-sm-9">
                    <input class="form-control" type="text" name="projectname" value={{projName}} placeholder="Project name" id="editProjectname" required="required">
                    </div>
              </div>
              <div class="form-group">
                 <label for="projectDescrpition" class="col-sm-3 control-label">Descrpition</label>
                   <div class="col-sm-9">
                     <textarea class="form-control" style="height: 80px" type="text" name="projectDescrpition" value={{descValue}} placeholder="Descrpition" id="editprojectDescrpition" required="required"></textarea>
                  </div>
                </div>
              <div class="form-group">
                 <label  class="col-sm-4 control-label">Levels</label>
                  <div class="col-sm-6">
                        <input type="checkbox"  id="isLvl" checked="{{isLvl}}"><br>
                      </div>
              </div>
              <div class="form-group">
                 <label  class="col-sm-4 control-label">Badges</label>
                  <div class="col-sm-6">
                        <input type="checkbox" id="isBdgs" checked="{{isBdgs}}"><br>
                      </div>
              </div>
              <div class="form-group">
                 <label  class="col-sm-4 control-label">Leader Board</label>
                  <div class="col-sm-6">
                        <input type="checkbox" id="isLdrb" checked="{{isLdrb}}"><br>
                      </div>
                  </div>
                <button id="editProjectBtn" class= "editProjectBtn btn btn-default pull-right"><span class="glyphicon glyphicon-floppy-disk"></span> Save</button>
              </form>
        </div>
      </div>
    </div>
  </div>
</template>
