<template name="removeReqModal">
  <div class="modal fade in" id="removeReqModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
          <div class="panel panel-default">
            <div class="panel-heading"><h4>Remove requirement</h4>  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></div>

            <div class="panel-body">
              <label class="col-sm-3 control-label">Are you sure?</label>
              <button id="rmvReqNoBtn" class ="rmvReqNoBtn btn btn-default pull-right">No</button>
              <button id="rmvReqYesBtn" class ="rmvReqYesBtn btn btn-default pull-right">Yes</button>
        </div>
      </div>
    </div>
  </div>
</template>
