
    <template name="statusRow">
      <div class="row">
        <div class="span3">
          <div class="progress" style ="   margin-bottom: 10px !important;" >
            <div class="progress-bar" id="progressbar" role="progressbar"  aria-valuemin="0" aria-valuemax="100" style="height: 18px;  width:{{width}}%; background-color:{{color}};">{{width}}</div>
          </div>
          {{#if completed}}
                {{>compl}}
            {{/if}}
              </div>
      </div>
    </template>

<template name="compl">
  <h5 style="color:#33c433"><span class="glyphicon glyphicon-check"></span>Completed</h5>
</template>
